<?xml version="1.0" encoding="utf-8" ?>
<Config>
  <SupportPlatfoms>
    <PlatformType>Android</PlatformType>
  </SupportPlatfoms>
  <AppId></AppId>
  <AppSecret></AppSecret>
  <MCHID></MCHID>
  <Key>8483DB24D0A16306B5816B6164EC635F</Key>
  <Logo>wx_logo.png</Logo>
  <pkcs12>apiclient_cert.p12</pkcs12>
</Config>