<link rel="stylesheet" type="text/css" href="~/Content/bootstrap-datetimepicker.min.css">
<div class="container Sclear-M">
    <ul class="nav nav-tabs-custom clearfix">
        <li><a href="management">返回随访</a></li>
        <li class="active"><a>随访详情</a></li>
    </ul>
    <div class="list" id="list">

    </div>
 
   



</div>
<script>    var val = "@Request.QueryString["status"]";</script>
<script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="~/Scripts/jquery.himall.Region.js"></script>
<script src="~/Scripts/jquery.hishopUpload.js"></script>
<script src="~/Scripts/jquery.himallLinkage.nocreate.js"></script>
<script src="~/Scripts/autoNumeric.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Areas/SellerAdmin/Scripts/DXL/UserPlan.js?@DateTime.UtcNow"></script>
