<?xml version="1.0"?>
<PluginInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <PluginId>Himall.Plugin.Express.Yunda</PluginId>
  <DisplayName>韵达快递</DisplayName>
  <ClassFullName>Himall.Plugin.Express.Yunda.Service,Himall.Plugin.Express.Yunda</ClassFullName>
  <Description>韵达快递插件</Description>
  <PluginDirectory>E:\XM3\Web\XM3_2017.09.28_Baiguoshu_Himall2.8kb28001\plugins\Express\Himall.Plugin.Express.Yunda</PluginDirectory>
  <Type>2</Type>
  <Author>Himall</Author>
  <Version>1.0</Version>
  <AddedTime>2017-10-17T18:30:08.7319965+08:00</AddedTime>
  <MinHimallVersion>1.0.0</MinHimallVersion>
  <MaxHimallVersion />
  <Enable>false</Enable>
  <DisplayIndex>0</DisplayIndex>
</PluginInfo>