<?xml version="1.0"?>
<PluginInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <PluginId>Himall.Plugin.Payment.WeiXinPay_SmallProg</PluginId>
  <DisplayName>微信小程序支付</DisplayName>
  <ClassFullName>Himall.Plugin.Payment.WeiXinPay_SmallProg.Service,Himall.Plugin.Payment.WeiXinPay_SmallProg</ClassFullName>
  <Description>微信小程序支付</Description>
  <PluginDirectory>E:\XM3\Web\XM3_2017.09.28_Baiguoshu_Himall2.8kb28001\plugins\Payment\Himall.Plugin.Payment.WeiXinPay_SmallProg</PluginDirectory>
  <Type>1</Type>
  <Author>Himall</Author>
  <Version>1.0</Version>
  <AddedTime>2017-10-17T18:30:10.03953+08:00</AddedTime>
  <MinHimallVersion>1.1.0</MinHimallVersion>
  <MaxHimallVersion />
  <Enable>false</Enable>
  <DisplayIndex>0</DisplayIndex>
</PluginInfo>